.toggle-group {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-label-and-field);

  .label {
    justify-content: center; /* Yes, this component label has centered text. */
  }

  .options {
    display: flex;
    gap: var(--space-xs);
    justify-content: center;
    flex-wrap: wrap;
    flex-wrap: wrap balance; /** Balance groups items in a better visual way but is not available to all browswers. */

    /** remove style from the semantic tag <fieldset>. */
    margin: 0;
    padding: 0;
    border: none;
  }
}

/* Tablet */
@media (min-width: 550px) {
  .toggle-group {
    width: auto;
  }
}
