@import url("../shared/field-group.css");

.toggle-group {
  .label {
    justify-content: center; /* Yes, this component label has centered text. */
  }

  .options {
    display: flex;
    gap: var(--space-xs);
    justify-content: center;
    flex-wrap: wrap;
    flex-wrap: wrap balance; /** Balance groups items in a better visual way but is not available to all browswers. */
  }
}

/* Tablet */
@media (min-width: 550px) {
  .toggle-group {
    width: auto;
  }
}
