.radio-option {
  --border-width: 2px;
  --duration: 0.15s;
  --easing: ease-in;

  display: flex;
  align-items: center;
  gap: var(--space-xs);
  height: var(--height-of-field);
  padding-left: calc(
    var(--space-small) - var(--border-width)
  ); /* Subtract the border from the padding to draw the stroke inside the option. */
  padding-right: calc(var(--space-medium) - var(--border-width));
  background-color: var(--color-gray-100);
  border: solid var(--border-width) var(--color-desaturated-90);
  border-radius: var(--border-radius);
  color: var(--color-desaturated-30);

  position: relative; /* To stretch the input over the whole option. */

  /* Hide the browser radio bullet but keep the input clickable and accessible. */
  input {
    position: absolute; /* Remove it from the flex flow so it does not add an extra gap. */
    inset: 0;
    appearance: none;
    margin: 0;
    border-radius: inherit;
    outline: none; /* The label draws the focus ring instead. */
    cursor: pointer;
  }

  /* Replace the browser radio bullet with icons. */
  .bullet {
    display: flex;
    color: var(--color-desaturated-30);
    transition: color var(--duration) var(--easing);

    .icon {
      margin-top: 0; /* Reset the optical alignment because flex already centers it. */
    }

    .icon.circle-check-solid {
      display: none;
    }
  }

  &:has(.title-and-subtitle) {
    height: var(--space-7xl);
  }

  .title-and-subtitle {
    display: flex;
    flex-direction: column;

    .title {
      font-weight: var(--font-weight-medium);
      line-height: 20px;
    }

    .subtitle {
      font-weight: var(--font-weight-normal);
      line-height: 24px;
    }
  }

  /* Animation */
  transition:
    background-color var(--duration) var(--easing),
    border-color var(--duration) var(--easing),
    color var(--duration) var(--easing),
    text-shadow var(--duration) var(--easing);
}

/**
 * The <input type="radio"/> is placed inside a <label>.
 * We use the CSS :has() selector to style the label
 * based on the input’s state (hover or checked).
 */
.radio-option:hover:has(input:not(:disabled)),
.radio-option:has(input:checked) {
  background-color: var(--color-green-99);
  border-color: var(--color-green-50);
  color: var(--color-gray-10);
  text-shadow: 0 0 0.7px currentColor; /* Simulate a heavier font weight without layout shift. */

  .bullet {
    color: var(--color-green-50);
  }
}

.radio-option:has(input:checked) .bullet {
  .icon.circle {
    display: none;
  }

  .icon.circle-check-solid {
    display: block;
  }
}

.radio-option:has(input:focus-visible) {
  outline: solid var(--border-width) var(--input-border-focus);
  outline-offset: var(--space-tiny);
}
