.radio-option {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  height: var(--height-of-field);
  padding-inline: var(--space-medium);
  background-color: white; /* In case it is used on a non-white background. */
  border: solid 1px var(--input-border-up);
  border-radius: var(--border-radius);

  input {
    margin: 0; /* We control the spacing using flex. */
  }

  &:has(.title-and-subtitle) {
    height: auto;
    padding-block: var(--space-medium);
  }

  .title-and-subtitle {
    display: flex;
    flex-direction: column;
    font-weight: var(--font-weight-medium);

    .title {
      color: var(--color-gray-10);
      font-weight: var(--font-weight-bold);
    }

    .subtitle {
      color: var(--color-desaturated-30);
    }
  }

  /* Animation */
  transition:
    background-color 0.15s ease-in,
    border-color 0.15s ease-in,
    outline-color 0.15s ease-in;
}

/**
 * The <input type="radio"/> is placed inside a <label>.
 * We use the CSS :has() selector to style the label
 * based on the input’s state (hover or checked).
 */
.radio-option:has(input:hover) {
  border-color: var(--input-border-hover);
  outline: solid 1px var(--input-border-hover);
}

.radio-option:has(input:checked) {
  --color-background: var(--color-green-40);
  --color-accent: white;

  background-color: var(--color-background);
  color: var(--color-accent);
  border-color: var(--color-background);
  outline: solid 1px var(--color-background);

  input:checked {
    accent-color: var(--color-accent);
  }

  .title-and-subtitle :is(.title, .subtitle) {
    color: inherit;
  }
}
