# Astro
.astro/

# IDE setting folder
.idea/

# build output
dist/

# dependencies
node_modules/

# Playwright
/playwright/.cache/
/playwright-report/
/test-results/

# macOS-specific files
.DS_Store

# environment variables
.env
.env.production

# logs
pnpm-debug.log*

# Firebase cache
.firebase/
firebase-debug.log

# Storybook
*storybook.log
storybook-static
tsconfig.tsbuildinfo
