.button .borderless {
  display: flex;
  align-items: center;
  gap: var(--space-base);
  width: fit-content; /** to avoid taking the whole width **/
  background: none;
  padding: 0;
  border: none;
  color: var(--typography-link);
  font-size: var(--font-size);
  font-weight: var(--font-weight-book);
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
  text-decoration: none;
  cursor: pointer;

  /* Animation */
  transition: background-color 0.3s ease-in;
}

.button .borderless:hover {
  background-color: var(--color-blue-30);
}
