.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  height: var(--height-of-button);
  padding: 0 var(--space-xl);
  overflow: hidden;
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-normal);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  cursor: pointer;

  /* Animation */
  transition:
    background-color 0.3s ease-in,
    border-color 0.3s ease-in;
}

/* Primary */
.button.primary {
  background-color: var(--color-blue-40);
  color: white;
}

.button.primary:hover {
  background-color: var(--color-blue-30);
}

/* Secondary */
.button.secondary {
  background-color: var(--color-gray-100);
  color: var(--color-gray-10);
  border: 1px solid var(--color-desaturated-60);
}

.button.secondary:hover {
  background-color: var(--color-blue-99);
}

/* Tertiary */
.button.tertiary {
  height: var(--height-of-field); /* this variant uses an smaller height. */
  background-color: transparent;
  color: var(--color-gray-10);
  border: 1px solid var(--color-gray-30);
}

.button.tertiary:hover {
  border-color: var(--color-gray-10);
}

/* Borderless */
.button.borderless {
  background-color: transparent;
  color: var(--color-blue-40);
  font-weight: var(--font-weight-medium); /* this variant uses medium. */
}

.button.borderless:hover {
  background-color: color-mix(in oklab, var(--color-blue-40) 8%, transparent);
}
