.radio-group {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-label-and-field);
  min-width: var(--field-min-width);

  .options {
    display: grid;
    gap: var(--space-small);
    margin: 0; /** remove style from the semantic tag <fieldset>. */
    padding: 0;
    border: none;
  }
}

/* Tablet */
@media (min-width: 550px) {
  .radio-group {
    width: auto;
    min-width: 320px;

    .options {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
