#loan-details-view {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding-inline: var(--space-medium);
  background-color: white;
  border-top: solid 1px var(--color-gray-80);

  .item {
    display: flex;
    flex-direction: column;

    .title {
      color: var(--color-gray-30);
      font-weight: var(--font-weight-normal);
      font-size: var(--font-size-small);
    }

    .value {
      color: var(--color-gray-10);
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-normal);
    }
  }

  .vertical-divider {
    align-self: stretch;
    border-inline-start: 1px solid var(--color-gray-80);
  }
}

/* Tablet */
@media (min-width: 550px) {
  #loan-details-view {
    gap: var(--space-medium);

    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--space-xs);

      .title {
        font-size: var(--font-size-large);
      }

      .value {
        font-size: var(--font-size-large);
      }
    }
  }
}
