body {
  display: grid;
  min-height: 100dvh;
  place-items: center;
}

body main {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  width: 100%;

  > footer {
    text-align: center;
  }
}

/* Tablet */
@media (min-width: 550px) {
  body {
    margin-inline: 5%;
  }

  body main {
    max-width: 588px;
  }
}
