body {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}

body main {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  align-items: center;
  width: 100%;

  > footer {
    text-align: center;
  }
}

/* Tablet */
@media (min-width: 550px) {
  body main {
    max-width: 544px;
  }
}
