body {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}

body main {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  text-align: center;

  img {
    max-width: 320px;
    height: auto;
  }
}
