.label {
  display: flex; /* To align the label text with the tooltip button. */
  gap: var(--space-tiny);
  color: var(--typography-dark);
  font-weight: var(--font-weight-medium);

  background-color: pink;

  .tooltip-trigger {
    background-color: aquamarine;
  }
}
