@import url("../shared/field-group.css");
@import url("./select-list.css");

.select-group {
  position: relative;

  .select .icon {
    transition: transform 0.3s ease;
  }

  /** Chevron animation */
  &:has(.select-list:popover-open) {
    .select .icon {
      transform: rotate(180deg);
    }
  }
}
