#step-1 {
  --special-font-size: 24px;
  --size-loan-amount: 145px;
  --size-loan-period: 60px;

  .input-field,
  .input-field .label,
  .input-field .sufix,
  #loan_amount,
  #loan_period {
    font-weight: var(--font-weight-bold);
    font-size: var(--special-font-size);
  }

  .input-field {
    display: flex;
    flex-direction: row; /** To put label and input side by side. */
    justify-content: space-between; /** To put label and input on oposite sides of the form. */
    align-items: center; /** To align items vertically */
    font-size: var(--special-font-size);
  }

  .input-wrapper {
    min-width: 0;
  }

  #loan_amount {
    min-width: 0;
    width: 100%;
    max-width: var(--size-loan-amount);
  }

  #loan_period {
    min-width: 0;
    width: 100%;
    max-width: var(--size-loan-period);
  }

  .button {
    --size: 72px;

    height: var(--size);
    border-radius: var(--size);
    font-size: var(--special-font-size);
    font-weight: var(--font-weight-bold);

    .icon {
      height: var(--special-font-size);
    }
  }
}

/* Tablet */
@media (min-width: 550px) {
  #step-1 {
    --special-font-size: 28px;
  }
}
