#step-1 {
  --special-font-size: 24px;

  .input-field {
    display: flex;
    flex-direction: row; /** To put label and input side by side. */
    justify-content: space-between; /** To put label and input on oposite sides of the form. */
    align-items: center; /** To align items vertically */
    font-size: var(--special-font-size);

    .label {
      font-weight: var(--font-weight-bold);
    }
  }

  #loan_amount {
    width: 196px;
    font-size: var(--special-font-size);
    font-weight: var(--font-weight-bold);
  }

  #loan_period {
    width: 108px;
    font-size: var(--special-font-size);
    font-weight: var(--font-weight-bold);
  }
}

/* Tablet */
@media (min-width: 550px) {
  #step-1 {
    --special-font-size: 28px;
  }
}
