.validation-message {
  display: flex;
  flex-direction: column;
  align-items: center;

  .pointy-arrow {
    --size: 12px;
    --offset: -7px; /** ((size/2) * -1) -1 */

    width: var(--size);
    height: var(--size);
    background-color: var(--input-background-error);
    border: solid 2px var(--input-border-error);
    border-right: none;
    border-bottom: none;
    margin-bottom: var(--offset);
    rotate: 45deg;
  }

  .content {
    width: 100%;
    padding: var(--space-xs) var(--space-small);
    background-color: var(--input-background-error);
    border: solid 2px var(--input-border-error);
    border-radius: var(--border-radius);
    color: var(--typography-dark);
    font-weight: var(--font-weight-bold);
  }
}
