#step-5 {
  .section-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .sub-form-details {
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
    padding: var(--space-medium);
    background-color: var(--color-blue-99);
    border-radius: var(--border-radius);

    .title {
      color: var(--color-desaturated-30);
      font-weight: var(--font-weight-medium);
    }
  }
}
