.chip-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);

  fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-medium);
    margin: 0; /** Remove styles from the semantic tag <fieldset>. */
    padding: 0;
    border: none;
  }
}
