html,
body,
#storybook-root {
  height: 100%;
}

body.sb-show-main.sb-main-padded {
  padding: 0; /** Storybook adds some padding in the UI view but our website lacks this. */
}

#storybook-root {
  display: grid;
  place-items: center;
}

#storybook-root .business-form {
  width: 100%;
  max-width: 544px;
}
