@import url("./form-layout.css");

.business-form {
  > header {
    display: grid;
    gap: var(--space-tiny) var(--space-medium);
    grid-template-areas:
      "left title right"
      "left subtitle right";
    grid-template-columns: 64px 1fr 64px; /* To make the title and subtitle take the whole width. */
    place-items: center;
    margin-block: var(--space-xs);
    margin-inline: var(--space-medium);

    > .arrow-go-back {
      width: 100%;
      height: 48px;
      border-radius: var(--border-radius);
      grid-area: left;

      & .icon {
        margin: 0 auto;
      }

      &:hover {
        background-color: aliceblue;
      }
    }

    > h4 {
      grid-area: title;
    }

    > small {
      grid-area: subtitle;
    }

    > .icon {
      grid-area: right;
    }
  }

  > section {
    display: flex;
    flex-direction: column;
    gap: var(--space-large);
    margin-block: var(--space-medium);
    margin-inline: var(--space-medium);
  }

  > footer {
    text-align: center;
  }
}

/* Tablet */
@media (min-width: 550px) {
  .business-form {
    > header {
      gap: var(--space-base) var(--space-medium);

      > .arrow-go-back {
        height: 64px;
      }
    }

    > section {
      margin-block: var(--space-2xl);
      margin-inline: var(--space-2xl);
    }
  }
}
