.hero-form {
  --special-font-size: 24px;

  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
  padding-block: var(--space-2xl);
  padding-inline: var(--space-medium);
  background-color: white;
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);

  footer {
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
    text-align: center;
  }
}

/* Tablet */
@media (min-width: 550px) {
  .hero-form {
    gap: var(--space-5xl);
    width: 544px;
    padding: var(--space-3xl);
    padding-bottom: var(--space-xl);
    background-color: white;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);

    footer {
      display: flex;
      flex-direction: column;
      gap: var(--space-xl);
      text-align: center;
    }
  }
}
