.tooltip-trigger {
  width: fit-content; /** to avoid taking the whole width **/
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: transparent;
  vertical-align: text-top; /* To optically align with the normal text size of 16px. */

  .icon {
    color: var(--typography-link);
  }
}

/* Edge cases */
small .tooltip-trigger {
  margin-top: -4px; /* To optically align with the small text. */
  vertical-align: middle; /* To optically align with the small text flow. */
}
