.tooltip-trigger {
  width: fit-content; /** to avoid taking the whole width **/
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: transparent;

  .icon {
    color: var(--typography-link);
  }
}

/* Edge cases */
.label .tooltip-trigger {
  margin-top: -1px; /* To optically align with the label. */
}

p .tooltip-trigger {
  display: inline-block; /* To enable vertical-algin. */
  vertical-align: text-top; /* To optically align with the paragraph text flow. */
}

small .tooltip-trigger {
  margin-top: -4px; /* To optically align with the small text. */
  vertical-align: middle; /* To optically align with the small text flow. */
}
