* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--page-background);
  color: var(--typography-default);
  font-size: var(--font-size-normal);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  letter-spacing: 0.16px;
  -webkit-font-smoothing: antialiased; /* To make text look great on Apple devices */
}

p,
ul,
ol {
  margin-top: 0;

  &:last-of-type {
    margin-bottom: 0; /** To avoid adding space at the bottom of the last paragraph. */
  }
}
